/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font), Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-weight: var(--font-weight-text);
  background-color: var(--bg-color);
  color: var(--bg-color-accent);
  background-image: var(--bg-lines);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.header {
  height: 364px;
  margin-top: 102px;
  font-family: var(--font-accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: var(--size-cardw);
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color-accent);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.header__title {
  font-family: var(--font-accent);
  text-transform: uppercase;
  font-size: var(--title-size);
}

.header__main-title {
  font-size: var(--title-main-size);
  text-decoration: none;
  display: block;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 20px;
  align-items: center;
}

.theme-menu__button {
  position: relative;
  background: transparent;
  border: none;
  font-weight: var(--font-weight-text);
  outline: none;
}

.theme-menu__button:hover {
  color: var(--active-btn);
  opacity: 0.6;
  transition: 0.3s;
}

.theme-menu__button:focus {
  color: var(--active-btn);
  opacity: 0.6;
  transition: 0.3s;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -15px;
  color: var(--active-btn);
  animation-name: cursor;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 90%;
  height: 2px;
  background-color: var(--active-btn);
  transition: scale 0.3s ease;
  scale: 0 1;
}

.theme-menu__button:focus-visible::after {
  transform-origin: 0 0;
  scale: 1 1;
}

.theme-menu__button:disabled {
  color: var(--active-btn);
  transition: 0.3s;
  opacity: 0.6;
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.card {
  width: var(--size-cardw);
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color-accent);
  display: grid;
  grid-template-rows: min-content;
}

.card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.card__title {
  padding: 8px 0px 5px 13px;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}

.card__text {
  padding: 19px 20px 11px 28px;
  font-size: 18px;
}

.card__label {
  position: relative;
}

.label {
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 14px;
  font-family: var(--font-accent);
  color: black;
  position: absolute;
  text-shadow: -1px 0 var(--text-shadow), 0 1px var(--text-shadow),
    1px 0 var(--text-shadow), 0 -1px var(--text-shadow);
  top: 25px;
  right: 30px;
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-shadow);
    text-stroke: 1px var(--text-shadow);
  }
}

.card__icon-button {
  background-color: transparent;
  border: none;
  outline: none;
}

/* .card__icon-button:focus {
  border: 2px solid var(--bg-color-accent);
  outline: none;
  transition: border 0.3s ease;
} */

.card__icon-button:focus-visible {
  outline: 2px solid var(--bg-color-accent);
  transition: 0.3s ease;
}

.card__button {
  justify-self: end;
  gap: 10px;
  display: flex;
  margin: 10px 25px 25px;
}

.button__text {
  font-family: var(--font-accent);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(
    --text-shadow
  ); /*  можно было создать и другую переменную, но если она уже есть... */
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--bg-color-accent);

  transition: 0.5s ease-in-out;
}

.card__like-button {
  min-width: 138px;
  padding: 9px 17px;
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;
  border: 2px solid var(--bg-color-accent);
}

.card__like-button::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-accent);
  transition: scale 0.5s ease-in-out;
  transform-origin: 0 0;
  scale: 0 1;
}

.card__like-button:hover:after {
  scale: 1 1;
}

.save {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  width: 25vw;
}

.dialog__button {
  background-color: var(--bg-color);
  padding: 9px 17px;
  border: 2px solid var(--bg-color-accent);
  cursor: pointer;
  min-width: 138px;
  padding: 9px 17px;

  position: relative;
  overflow: hidden;
  border: 2px solid var(--bg-color-accent);
}

.dialog__button::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-accent);
  transition: scale 0.5s ease-in-out;
  transform-origin: 0 0;
  scale: 0 1;
}

.dialog__button:hover::after {
  scale: 1 1;
}

.dialog__button:focus {
  outline: none;
}

.dialog__button:focus-visible {
  box-shadow: 3px 3px 0 var(--bg-color-accent); /* не понял какой эффект фокуса выбирать для этой кнопки, сделал так... */
}

.floppy_save {
  position: relative;
  mix-blend-mode: difference;
  fill: var(--text-shadow);
  color: var(--text-shadow);
  /* долго разбирался что тут с цветами, но в итоге все заработало как надо! */
  width: 21px;
  z-index: 2;
}

.floppy_save_dialog {
  width: 39px;
}

.save__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1.5;
}

.pop-up__title {
  color: var(--bg-color-accent);
  font-family: var(--font-accent);
}

.pop-up::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog-form {
  max-width: 25vw;
  display: grid;
  grid-template-columns: auto 351px;
  gap: 20px;
  align-items: center;
}

.pop-up[open] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.pop-up {
  background-color: var(--bg-color);
  border: 2px solid var(--bg-color-accent);
}

.pop-up__button {
  margin: 1px 1px 1px 15px;
  cursor: pointer;
  min-width: 450px;
  padding: 9px 17px;

  position: relative;
  overflow: hidden;
  border: 2px solid var(--bg-color-accent);
  background-color: var(--bg-color);

  text-transform: uppercase;
}

.pop-up__button:focus {
  outline: none;
  box-shadow: 3px 3px 0 var(--bg-color-accent);
}

.card_blur {
  filter: blur(3px);
}

.card_bright {
  filter: brightness(300%);
}

.card_invert {
  filter: invert(100%);
}

.card_countrast {
  filter: contrast(250%);
}

.card_gray {
  filter: grayscale(80%);
}

.card_hue {
  filter: hue-rotate(220deg);
}

.card_saturate {
  filter: saturate(500%);
}

.card_saturate-hue {
  filter: saturate(200%) hue-rotate(180deg);
}

@media (width <= 375px) {
  .page {
    margin: 0 auto;
  }

  .card {
    width: 100vw;
  }

  .save {
    width: 90vw;
  }

  .pop-up[open] {
    width: 100vw;
  }

  .dialog-form {
    max-width: 100vw;
    gap: 0;
  }

  .pop-up__title {
    padding: 6px 16px 15px 40px;
  }

  .pop-up__button {
    margin-left: 40px;
    min-width: 300px;
  }

  .floppy_save_dialog {
    margin-left: 32px;
  }
}
